<!doctype html>{% load static %}
<html lang="fi">
  <head>
    <title>POS</title>
    <link rel="stylesheet" href="{% static 'lippukala/pos.css' %}" />
    <script src="{% static 'lippukala/pos.js' %}"></script>
  </head>
  <body onload="init()">
    <form id="codeform">
      <input placeholder="koodi tähän" type="text" id="code" autofocus autocomplete="off" /><br />
      <div id="status">&nbsp;</div>
    </form>
    <dialog id="confirm-dialog">
      Käytä koodi?
      <div>
        <form method="dialog" id="confirm-form">
          <button id="confirm-button">Käytä</button>
        </form>
        <button id="cancel-button" onclick="cancelConfirm()">Peruuta</button>
      </div>
    </dialog>
    <textarea id="log" readonly></textarea>
  </body>
</html>
